body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Banner Section */
#banner{
    height: 650px;
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
}
.banner-text{
    background-image: linear-gradient(rgba(122, 122, 122, 0.247), rgba(0, 0, 0, 0.705));
    width: auto;
    padding: 10% 20%;
    height: auto;
    color: white;  
}
.banner-text h1{
    font-size: 45px;
    font-weight: 700;
}
.banner-text p{
    padding: 0 15%;
    color: #ECE9E8;
    font-size: 18px;
}
.banner-btn{
    background-color: #ff5959;
    margin-top: 3%;
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 7px;
    color: white;
    border: none;
}

/* Donate Section */
#donate{
    text-align: center;
    padding: 5% 17% 0;
}
#donate h1{
    font-size: 45px;
    font-weight: 700;
}
#donate p{
    padding: 0 15%;
    color: #949290;
    font-size: 18px;
}
.donate-div{
    padding: 2% 5%;
    margin-top: 5%;
    display: flex;
}
.donate-amount{
    width: 20%;
    text-align: center;
    padding: 22px 15px;
    margin: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
    color: #686868;
    font-size: 20px;
    font-weight: bold;
}
.active{
    border: 3px solid #FF5959;
    background-color: #FFEEEE;
    color: #ff5959;
}
.amount-div{
    padding: 3% 5%;
}
.input-amount{
    width: 100%;
    padding: 2% 0;
    border: none;
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid #dddcdc;
}
.donate-btn{
    background-color: #ff5959;
    margin-top: 5%;
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 7px;
    color: white;
    border: none; 
}

/* Donate Plan Section */
#donate-plan{
    padding: 5% 11% 0%;
    text-align: center;
}
.plan-heading{
    padding: 0 6%;
}
.plan-heading h1{
    font-size: 45px;
    font-weight: 700;
}
.plan-heading p{
    padding: 0 15%;
    color: #949290;
    font-size: 18px;
}
.plans-row{
    margin-top: 5%;
    display: flex;
    text-align: center;
}
.plan{
    width: 33.33%;
    text-align: left;
    padding: 2.5%;
    margin: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
    color: #1f1e1e;
    font-size: 15px;
    font-weight: bold;
}
.plan p{
    text-align: justify;
    font-weight: 500;
    color: #949290;
}
.color1{
    background-color: rgba(220, 220, 255, 0.973);
}
.color2{
    background-color: rgba(255, 229, 219, 0.973);
}
.color3{
    background-color: rgba(233, 255, 240, 0.973);
}

/* Save The People Section */
#save-people{
    padding: 5% 10%;
}
.row{
    margin: 2% 0;
    display: flex;
}
.column{
    padding: 2%;
    width: 50%;
    text-align: left;
}
.column h1{
    font-size: 30px;
}
.column p{
    text-align: justify;
    padding-right: 15% ;
    color: #949290;
}
.text{
    padding: 2% 2%;
}
.image{ 
    text-align: center;
}
.image img{
    border-radius: 10px;
}
.contribute-btn{
    background-color: #ff5959;
    margin-top: 2%;
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 7px;
    color: white;
    border: none; 
}

/* Volunteer Section */
#volunteer{
    padding: 1% 12% 5%;
}
.volunteer-heading{
    text-align: center;
}
.volunteer-heading h1{
    font-size: 45px;
    font-weight: 700;
    margin: 0;
}
.volunteer-heading p{
    font-size: 16px;
    padding: 0 30%;
    color: #949290;
}
.volunteers{
    margin-top: 10% ;
    padding: 0% 0%;
    display: flex;
}
.volunteer-col{
    margin: 10px;
    padding: 3% 0;
    width: 25%;
    text-align: center;
    background-color: #F6F6F6;
}
.volunteer-col img{
    margin: 0%;
    margin-top: -35%;
    width: 45%;
    border: 1px solid #ff5959;
    border-radius: 100%;
}
.volunteer-col h3{
    font-size: 18px;
    line-height: 0;
}
.volunteer-col p{
    font-size: 15px;
    color: #949290;
}

/* Footer Section */
.footer{
    padding: 2% 12%;
    background-color: black;
    text-align: center;
}
.footer h1{
    color: #ff5959;
    font-size: 25px;
}
.footer p{
    color: #949290;
    font-size: 15px;
}
